<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>advertisements list</title>
</head>
<body>
<h1>Бесплатные объявления</h1>
{% if request.user.is_authenticated %}
<h1>Привет, {{ request.user }}</h1>
    <a href="{% url 'logout' %}">logout</a>
{% endif %}

<ul>
    {% if advers %}
        {% for adver in advers %}
            <li>
                <p>{{ adver.title }} (Цена: {{ adver.price }}) руб.</p>
                <p>Текст объявления: {{ adver.description }}</p>
                <p>Дата создания: {{ adver.crt_time }}</p>
                <p>Количество просмотров: {{ adver.view_cnt }}</p>
            </li>
        {% endfor %}
    {% else %}
        <li>Объявлений нет</li>
    {% endif %}
</ul>
<h4>source ip: {{ ip }}</h4>
</body>
</html>