<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>advertisements list</title>
</head>
<body>
<h1>Бесплатные объявления</h1>

<ul>
    {% if advers %}
        {% for adver in advers %}
            <li>
                <p>{{ adver.title }} (Цена: {{ adver.price }}) руб.</p>
                <p>Дата создания: {{ adver.crt_time }}</p>
                <p>Количество просмотров: {{ adver.view_cnt }}</p>
            </li>
        {% endfor %}
    {% else %}
        <li>Объявлений нет</li>
    {% endif %}
</ul>
<h4>source ip: {{ ip }}</h4>
</body>
</html>